<!doctype html>

<html>
<head>
	<title>theStufft</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    
    <style>
    body {
          background:url('images/background.jpg');
          background-attachment: fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-size: cover;
        }
    </style>
</head>

<body>
    <!--********************** TOP BANNER *******************-->
    <div class="navbar navbar-fixed-top">
    <div class="navbar navbar-default">
        <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <a class="navbar-brand" href="/"><b>theStufft</b></a>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/latest">Latest Creations</a></li>
              <li><a href="/reviews">Reviews</a></li>
              <li><a href="/community">Community Spotlight</a></li>
            </ul>
          </div>
         </div>
    </div>
    </div>
    
    <!--********************* MAIN CONTENT ******************-->
    <div class="container" align="center" style="margin-top:150px">
        <!--********************* CARDS ******************-->
         
                <!--*********** LATEST CREATIONS **************-->
                <div class="cardsthird">
                 <div class="panel panel-warning">
                  <div class="panel-heading">
                    <div class="panel-title"><h4>Latest Creations</h4></div>
                  </div>
                  <div class="panel-body">
                       <img src="images/creations/chickenpasta/1.jpg" width="80%" height="80%"></img>
                      <p style="float: left"><br>
                        We believe that cooking is about letting your
                        taste buds decide what goes into the soup pot, not a recipe book. Our
                        Latest Creations page, which includes all of culinary projects – both the successes,
                        and failures.</p>
                      <a style="float: left" href="latest"><b>Check it out</b></a>
                  </div>
                </div>
                </div>
 
                <!--*********** REVIEWS **************-->
                <div class="cardsthird">
                 <div class="panel panel-danger">
                  <div class="panel-heading">
                    <div class="panel-title"><h4>Reviews</h4></div>
                  </div>
                  <div class="panel-body">
                      <img src="images/reviews/oscars/storefront.jpg" width="80%" height="80%"></img>
                      <p style="float: left"><br>
                       Wondering what’s good? We give you detailed and honest reviews of 
                       the restaurants of San Diego. We also investigate which locations
                       have the best deals for both food and happy hour so you can get the most bang for your buck.</p>  
                      <a style="float: left"href="reviews"><b>Read More</b></a>
                  </div>
                 </div>
                </div>

                <!--*********** COMMUNITY SPOTLIGHT **************-->
                <div class="cardsthird">
                 <div class="panel panel-info">
                  <div class="panel-heading">
                    <div class="panel-title"><h4>Community Spotlight</h4></div>
                  </div>
                  <div class="panel-body">
                      <img src="images/creations/bbqpork/2.jpg" width="80%" height="80%"></img>
                      <p style="float: left"><br>
                         Have you attempted one of our recipes? Or maybe you have your own quirky 
                         recipe you want to share? Post it here to share with the community and 
                         earn a chance to be featured in our weekly community spotlight!</p>
                      <a style="float: left" href="community"><b>Join us</b></a>
                  </div>
                </div>
                </div>
    </div>
    
    <div class="aboutfooter" align="center">
    <div class="jumbotron" align="center">        
        <h2>About Us</h2>
        <div class="cardshalf">
            <div><img class="img-cicular" style="background-image:images/jp.jpg"></div>
            <div class="container">
            <h3>Jaysen</h3>
            <i>Major:</i> Computer Science<br>
            <i>Email:</i> jaysenparmar@gmail.com</div>  
            <div align="center">
                <br>
                <a href="https://www.facebook.com/jaysen"><img class="icon" src="images/facebook.jpg"></img></a> &nbsp; 
                <a href="http://instagram.com/jaysenp17"><img class="icon" src="images/instagram.png"></img></a>
                <br>
            </div>
        </div>
        
        <div class="cardshalf">
            <div class="img-circular"><img  src=""></div>
            <div class="container">
            <h3>Kyle</h3>
            <i>Major:</i> Creative Literature<br>
            <i>Email:</i> biffalu@gmail.com</div> 
            <div align="center">
                <br>
                <a href="https://www.facebook.com/biffalu"><img class="icon" src="images/facebook.jpg"></img></a>
            </div>
        </div>
        
    
        
        <div class="container" align="center">
        <br><br>
        We are Jaysen Parmar and Kyle Wilkerson, two UC San Diego students that share a passion for 
cooking. We aren’t master chefs, nor do we claim to be, but we have a Ratatouille-esque philosophy 
that “everyone can cook.” Our goal is to constantly push our culinary boundaries– to learn, to alter, to 
innovate our cuisine. We strongly believe in the power of community, hoping to share, as well as learn 
with those whose culinary expertise differs from ours, both in experience and cultural knowledge. 
<br><br>Welcome to Flavurs. Come share with us.
        <br><br>
        </div>  
    
        <div style="float: left"><br>
        &nbsp; Copyright © 2014 Flavurs. All rights reserved.
        </div>
    </div>  
    </div>
    

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>
