<!doctype html>

<html>
<head>
	<title>Flavurs</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    
    <style>
    body {
          background:url('images/background.jpg');
          background-attachment: fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-size: cover;
        }
    </style>
</head>

<body>
    <!--********************** TOP BANNER *******************-->
    <div class="navbar navbar-fixed-top">
    <div class="navbar navbar-default">
        <div class="container">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <a class="navbar-brand" href="/"><b>Flavurs</b></a>
          <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/latest">Latest Creations</a></li>
              <li class="active"><a href="/reviews">Reviews</a></li>
              <li><a href="/community">Community Spotlight</a></li>
            </ul>
          </div>
         </div>
    </div>
    </div>
    
    <!--********************* MAIN CONTENT ******************-->
     <div class="container" align="center" style="margin-top:150px">
        <div class="cardqtr">
            <div class="panel panel-default">
            <div class="panel-heading">Reviews</div>
            <div class="panel panel-body">
                <div align="left">
                <ol type="i"><li>2014</li>
                <ul type="square">
                    <a href="bdubs"><li>Buffalo Wild Wings</li></a>
                    <a href="bakedbear"><li>The Baked Bear</li></a>
                    <a href="oscars"><li>Oscar's Mexican Seafood</li></a>
                </ul>
                </ol>
                </div>
            </div>
            </div>
        </div>
        <div class="cardstwothirds">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <div class="panel-title"><h4>Reviews</h4></div>
          </div>
          <div class="panel-body">
            <img style="float:center" src="images/reviews/oscars/food.jpg" width="90%" height="90%"></img>
            <br><br>
            <p><a href="oscars">Read our latest review</a></p>
            <h3 style="float: left">Our Latest Review - Oscar's Mexican Seafood</h3><br>
            <div align="left"><br><br><p>Jaysen had been raving about this place long before we actually tried it together. Usually, when people rave about something– whether it be a restaurant or a movie– it raises your expectations to such a level that they will never be met. This was not the case for Oscar’s Mexican Seafood, a cozy taco shop just a few minutes’ walk from the sunny shores of Pacific Beach...</p></div>
            </div>
        </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>
